@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);.avatar img {
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.3);
  border: white 1px solid;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card-product {
  margin: 10px;
  flex: 1 1 auto;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.card-product:hover {
  transition: all 0.4s ease;
  transform: translate3D(0, -1px, 0) scale(1.02);
}

.card-product img {
  height: 100%;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.grid .row {
  display: flex;
  flex-wrap: wrap;
}
.grid .col-lg-6 {
  flex: 1 1 45%;
  margin: 10px;
}
@media only screen and (max-width: 767px) {
  .grid .col-lg-6 {
    flex: 1 1 100%;
  }
}
.grid .col-lg-4 {
  flex: 1 1 30%;
  margin: 10px;
}
@media only screen and (max-width: 767px) {
  .grid .col-lg-4 {
    flex: 1 1 45%;
  }
}
@media only screen and (max-width: 600px) {
  .grid .col-lg-4 {
    flex: 1 1 100%;
  }
}
.grid .bg-light {
  font-size: 20px;
  text-align: center;
  padding: 50px;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(167, 167, 167, 0.3);
  border-radius: 4px;
}

.button a {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}
.button a:hover {
  background-color: #555555;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
}
.form .col-6 {
  display: flex;
  flex-direction: column;
  flex: 0 0 48%;
}
.form h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px 0;
}
.form label {
  margin-bottom: 10px;
  font-size: 12px;
}
.form form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 10px;
  padding: 50px;
  font-size: 16px;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(167, 167, 167, 0.3);
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .form form {
    max-width: 100%;
  }
}

.submit-btn {
  margin-top: 10px;
  align-self: center;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #555555;
  color: white;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .form-row {
    display: block;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control {
  border: none;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: 400;
  color: #495057;
  background-color: #fcfcfc;
  border-bottom: 2px solid #555555;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-bottom: 2px solid #fcfcfc;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}

footer ul {
  display: flex;
  margin: 10px;
}
footer li {
  margin: 5px;
}
footer i {
  font-size: 20px;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #515151;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #515151;
}

section {
  padding: 40px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}